/*tags*/
* {
  font-family: 'Montserrat', sans-serif;
}

body {
  border:0px;
  margin: 0px;
}

header {
	height: 100px;
	padding: 30px 150px;
	position: fixed;
}

header div {
	display: inline-block;
	line-height: 50px;
}

header div a {
	padding: 0px 15px;
	color: white;
}

input {
	border: none;
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
	width: 100%;
}

input .placeholder {
	color: gray;
}

button {
	margin-top: 10px;
	background-color: #FF00BF;
	padding: 15px;
	color: white;
	border-radius: 5px;
	border: none;
	font-weight: bold;
}

form {
	margin-bottom: 30px;
}

form a {
	color: gray;
	margin-left: 15px;
}

footer {
  background-color: #333447;
  font-size: 12pt;
  height: 450px;
  padding-top: 60px;
}

footer>.left {
  margin: 20px 30px 40px 145px;
}

footer>.center {
  margin: -160px 30px 40px 340px;
}

footer>.rigth {
  letter-spacing: 1px;
  margin: -160px 30px 40px 526px;
}

footer>article >a {
  color:white;
  line-height: 1.5em;
  letter-spacing: 1px;
  text-decoration: none;
}

footer>article>a:hover {
  color: #FF00BF;
  text-decoration: underline;
}

footer>.logos {
  color:white;
  display: inline-block;
  margin:  0px 0px 0px 541px;
  padding: 10px;
}

footer>.logos >.icon-facebook, .icon-instagram, .icon-twitter {
  border: 1px solid white;
  border-radius: 20px;
  margin:  0px 60px 0px 0px;
  padding: 10px;
}

#container {
	background-image: url("../assets/images/hero.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 600px;
	position: relative;
}

#turn_miles {
	background-color: white;
	height: 300px;
	padding: 64px;
	position: absolute;
	right: 0%;
	top: 100px;
	width: 430px;
}

#turn_miles h1 {
	color: #352384;
	font-size: 2.7em;
	font-weight: bold;
	margin: 0px;
}

#turn_miles .sign-up {
	color: #352384;
}

#turn_miles p, p > a {
	font-size: x-small;
}

#turn_miles p > a {
	color: #FF00BF;
	font-weight: bold;
	text-decoration: none;

}

#important_info {
	background: linear-gradient(#76278F, #2B1E66);
	height: 600px;
	position: relative;
}

#ride h3 {
	margin: 0px;
	font-size: xx-large;
	font-weight: bolder;
}

#ride {
	color: white;
	left: 200px;
	position: absolute;
	top: 50px;
}

#cellphone {
	position: absolute;
	right: 200px;
	top: 30px;
	width: 470px;
}

#cellphone img {
	width: 100%;
}

#a_new_way_to_glow, #june, #showing_up_quick {
	position: relative;
	height: 400px;
}

#first_video, #third_video {
	height: 400px;
	width: 900px;
	position: absolute;
	right: 0px;
	top: 0px;
}

#second_video {
	height: 400px;
	width: 900px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#first {
  margin-left: 796px;
}

#second {
  border-color: white;
  border-radius: 5px;
}

#google {
  margin: -170px 0px 117px 1020px;
  vertical-align: super;
}

#playstore{
  margin: -144px 0px 40px 1020px;
  vertical-align: middle;
}

#apple{
  margin: -63px 0px 40px 1020px;
}

#f1, #f2, #f3 {
  color: white;
  display: inline-block;
}

/*clases*/

.float-right {
	position: absolute;
	right: 0px;
}

.watch {
	text-align: left;
	width: 23%;
	padding: 5%;
}
